@charset "utf-8";

// SASS global variables
$header_colour: #4dd0e1;
$footer_colour: #00acc1;
$main_body_colour: #e0f7fa;
$players_body_colour: #b2ebf2;
$game_dice_score_colour: #b2d8f2;
$charcoal_colour: #444444;
$btn-colour:#4CAF50;

@mixin rounded-buttons-colour($rounded-button, $btn-colour){
    border-radius: $rounded-button;
    background-color: $btn-colour;
}

.button {
    color: black;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    @include rounded-buttons-colour(8px, $btn-colour);
}


#pop-up{
    width:300px;
    padding:10px;
    background-color: #5393f3;
    color:black;
    border:solid 1px $charcoal_colour;
    box-shadow:0px 0px 5px blue, 5px 5px 5px $charcoal_colour;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    /*
    animate this opacity property
    from 0 to 1    
    */
    opacity:0;
    /* 
    ensure pointer events will go 'through' this section tag 
    since it might  otherwise overlap the buttons and make them unclickable
    */
    pointer-events: none;
}
#btn-close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    background-color: inherit;
    color:inherit;
    border:solid 1px white;
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
}
#title-dice-score{
    background: $game_dice_score_colour;
}
#player-user{
    background: $players_body_colour;
}
#player-opponent{
    background: $players_body_colour;
}
.player-row{
    display: flex;

    flex-wrap:wrap;
    justify-content: center;
}
.player-column{
    flex: 50%;
    text-align: center;
    padding: 15px;
    border: 3px solid $charcoal_colour;
}

.button-column{
    text-align: center;
}
.innerhtml-dice-image{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}
.score-column{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//--------------------------
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #353535;
}

header, footer, main, article, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

p {
    line-height: 1.6;
    font-size: 1.15em;
}

li {
    font-size: 1.15em;
    margin-bottom: 1em;
}

header {
    background-color: $header_colour;
    padding: 20px;
}

header h1 {
    margin: 0;
    line-height: 1;
    text-align: center;
}

main {
    padding: 20px;
    flex: 1;
    background: $main_body_colour;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.submit {
    margin-bottom: 0;
}

.input-group label {
    flex: 0 0 100px;
    font-size: 1.15em;
    margin-right: 10px;
}

.input-group input {
    display: block;
    flex: 1;
    width: 100%;
    padding: 4px;
    font-size: 1.15em;
}

footer {
    padding: 20px;
    border-top: 1px dotted #858585;
    background: $footer_colour;
}